<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--navbar-->
<%= link_to "FAQ", @faq %>
<%= link_to "Afro", @afro %>
<%= link_to "Beehive", @beehive %>
<%= link_to "Crewcut", @crewcut %>
<%= link_to "Dreadlocks", @dreadlocks %>
<%= link_to "Mohawk", @mohawk %>
<%= link_to "About", @about %>
<%= link_to "FAQ", @faq %>
<%= yield %>

</body>
</html>
