<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

<header class ="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Home", root_path%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Afro', '/hairstyle/afro' %></li>
        <li><%= link_to 'Beehive', '/hairstyle/beehive' %></li>
        <li><%= link_to 'Crewcut', '/hairstyle/crewcut' %></li>
        <li><%= link_to 'Dreadlocks', '/hairstyle/dreadlocks' %></li>
        <li><%= link_to 'Mohawk', '/hairstyle/mohawk' %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Faq', faq_path %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-10">
      <%= yield %>
    </div>
    <div class = "col-sm-1"></div>
    </div>
</div>
</body>
</html>
